
  .rowlist-container{
      display: inline-grid;
      /* grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto; */
      grid-template-areas:  "black-mirror black-mirror breaking-bad breaking-bad"
                            "death-note game-of-thrones the-walking-death the-wire";
      width: 100%;
      height: 100%;
  }

  .cover{
    width: 100%;
    flex: 1;
    border: 2px double #000000;
    position: relative;
    text-align: center;
    padding: 60px 0;
  
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity ease 0.7s;
  
  }
  
  .cover:hover .overlay {
    background-color: red;
    opacity: 0.8;
  }

  #black-mirror {
    grid-area: black-mirror;
  }
  #breaking-bad {
    grid-area: breaking-bad;
  }
  #death-note {
    grid-area: death-note;
  }
  #game-of-thrones {
    grid-area: game-of-thrones;
  }
  #the-walking-death {
    grid-area: the-walking-death;
  }
  #the-wire {
    grid-area: the-wire;
  }

@media only screen and (min-width: 375px) and (max-width: 812px) {

      .cover {
        flex: 1;
    
      }
      .rowlist-container{
        grid-template-areas:  "black-mirror" 
                              "breaking-bad" 
                              "ideath-note"
                              "game-of-thrones" 
                              "the-walking-death "
                              "the-wire";
  }
      .overlay {
        display: inline;
    
      }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .rowlist-container{
    grid-template-areas:  "black-mirror breaking-bad" 
                          "death-note game-of-thrones" 
                          "the-walking-death  the-wire";
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .rowlist-container{
    grid-template-areas:  "black-mirror breaking-bad" 
                          "death-note game-of-thrones" 
                          "the-walking-death  the-wire";
  }
}