
  .rowlist-container{
      display: inline-grid;
      /* grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto; */
      grid-template-areas:  "img1 img1 img2 img2"
                            "img3 img4 img5 img6";
      width: 100%;
      height: 100%;
  }

  .cover{
    width: 100%;
    flex: 1;
    border: 2px double #000000;
    position: relative;
    text-align: center;
    padding: 60px 0;
  
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity ease 0.7s;
  
  }
  
  .cover:hover .overlay {
    background-color: red;
    opacity: 0.8;
  }

  #img1 {
    grid-area: img1;
  }
  #img2 {
    grid-area: img2;
  }
  #img3 {
    grid-area: img3;
  }
  #img4 {
    grid-area: img4;
  }
  #img5 {
    grid-area: img5;
  }
  #img6 {
    grid-area: img6;
  }

@media only screen and (min-width: 375px) and (max-width: 812px) {

      .cover {
        flex: 1;
    
      }
      .rowlist-container{
        grid-template-areas:  "img1" 
                              "img2" 
                              "img3"
                              "img4" 
                              "img5"
                              "img6";
  }
      .overlay {
        display: inline;
    
      }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .rowlist-container{
    grid-template-areas:  "img1 img2" 
                          "img3 img4" 
                          "img5 img6";
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .rowlist-container{
    grid-template-areas:  "img1 img2" 
                          "img3 img4" 
                          "img5 img6";
  }
}